@{
    ViewData["Title"] = "Хинкали";
}

<div class="jumbotron">
    
    <div class="album py-5 bg-light ">
        <h1 class="mb-4 pt-2 text-center">Хинкали</h1>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" alt="" style="height: 225px; width: 100%; display: block;" src="~/images/xinkali.jpg" data-holder-rendered="true">
                        <div class="card-body">
                            <h5 class="card-text">Хинкали с говядиной.</h5>
                            <p>3 шт</p>
                            <p><strong>210₽</strong></p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a asp-controller="Khinkali" asp-action="About" class="btn btn-sm btn-outline-secondary">Подробнее</a>
                                </div>
                                <div class="btn-group">
                                    <a href="#" class="btn btn-sm btn-outline-success">В корзину</a>
                                </div>
                                <small class="text-muted">15 минут</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" alt="" style="height: 225px; width: 100%; display: block;" src="~/images/xinkali.jpg" data-holder-rendered="true">
                        <div class="card-body">
                            <h5 class="card-text">Хинкали с говядиной.</h5>
                            <p>5 шт</p>
                            <p><strong>350₽</strong></p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Подробнее</button>
                                </div>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-success">В корзину</button>
                                </div>
                                <small class="text-muted">15 минут</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" alt="" style="height: 225px; width: 100%; display: block;" src="~/images/xinkali.jpg" data-holder-rendered="true">
                        <div class="card-body">
                            <h5 class="card-text">Хинкали с говядиной.</h5>
                            <p>7 шт</p>
                            <p><strong>490₽</strong></p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Подробнее</button>
                                </div>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-success">В корзину</button>
                                </div>
                                <small class="text-muted">15 минут</small>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
