@model Khinkali.Models.Drink

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron mt-5">
    <h1>Edit</h1>

    <h4>Drink</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cost" class="control-label"></label>
                    <input asp-for="Cost" class="form-control" />
                    <span asp-validation-for="Cost" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Volume" class="control-label"></label>
                    <input asp-for="Volume" class="form-control" />
                    <span asp-validation-for="Volume" class="text-danger"></span>
                </div>
                <div class="form-group" hidden>
                    <label asp-for="Image" class="control-label"></label>
                    <input asp-for="Image" class="form-control" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Picture" class=control-label></label>
                    <div class="custom-file">
                        <input asp-for="Picture" accept=".jpg, .jpeg, .png" class="custom-file-input" id="pic"
                        onchange="document.getElementById('picture').src = window.URL.createObjectURL(this.files[0])"/>
                        <label class="custom-file-label" for="pic"></label>
                    </div>
                    <span asp-validation-for="Picture" class="text-danger"></span>
                    <img id="picture" src="~/images/@Model.Image" alt="" style="width:600px;height: 400px;border:1px;margin-top:20px;margin-left:80px;position: absolute;top: 5px;"/>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-controller="Bdro" asp-action="Drinktable">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(".custom-file-input").on("change", function(){
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
}
