﻿@using System.Net.Http
@using Khinkali.Utility
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    int count = 0;
    List<Product> products = HttpContextAccessor.HttpContext.Session.Get<List<Product>>("products");
    if (products==null)
    {
        products=new List<Product>();
    }
    count = products.Count();
   
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wi-Pie - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/fontawesome-free-5.15.4-web/css/all.css" />

    @*<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">*@

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link rel="shortcut icon" href="~/images/icon.png" type="image/x-icon">
</head>
<body>
    <style>
        body{
            background-image: url(/images/bgr5.png);
            background-repeat: repeat;
            background-size: 70%;

            /*font-family: 'Balsamiq Sans', cursive;*/
            font-family: 'Montserrat Alternates', sans-serif;
        }
        .ssilka{
            color: #495057!important;
            text-decoration: none!important;
        }
        .ssilka:link {
            color: #495057!important;
            text-decoration: none!important;
        }

        .ssilka:visited {
            color: #495057!important;
            text-decoration: none!important;
        }

        .ssilka:hover {
            color: #495057!important;
            text-decoration: none!important;
        }

        .ssilka:active {
            color: #495057!important;
            text-decoration: none!important;
        }
        .krug {
            height: 25px;
            width: 25px;
            background-color: rgb(154 157 160);
            border-radius: 50%;
            text-align: center;
            position: relativ!importantportant;
            top: -27px;
            left: 27px;
            font-weight: 600;
            color: white;
        }
        .text-muted {
            color: #000000!important;
        }
        .logo img{
            height: 55px;
        }
        .navnav a{
            font-size: large;
        }
        .head1{
            font-size: xxx-large;
        }
        .parg{
            font-size: x-large;
            font-weight: 400;
        }
        .modal-content {
            border-radius: 20px;
        }
        .modal-header{
            border-bottom: none;
        }
        .modal-footer{
            border-top: none;
        }
        .close{
            font-size: 2.0rem !important;
        }
        .fa-lg {
            font-size: 1.1em !important;
            line-height: 0em !important;
        }
        .badge:after{
            content:attr(value);
            font-size:15px;
            color: #fff;
            background: #c10000;
            border-radius:50%;
            padding: 0 5px;
            position:relative;
            left:-8px;
            top:-10px;
            opacity:0.9;
        }
        .chislo{
            border: none;
            background-color: transparent;
            outline: none;
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            display: none;
        }
    </style>
    <div class="modal fade" id="kontakti" tabindex="-1" role="dialog" aria-labelledby="kontakti" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title" id="kontakti">Контакты</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body" style="font-size: larger">
                    Звоните по номеру +7 (925) 25 43 567
                </div>
                <div class="modal-footer">
                <button type="button" style="border-radius: 13px;" class="btn btn-success" data-dismiss="modal">Ок</button>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark justify-content-between">
      <a class="navbar-brand logo" asp-controller="Home" asp-action="Index"><img src="~/images/logo.png"/></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto navnav">
          <li class="nav-item active">
            <a class="nav-link" asp-controller="Home" asp-action="Index">Главная <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" asp-controller="Pie" asp-action="Index">Пироги</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" asp-controller="Khinkali" asp-action="Index">Хинкали</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" asp-controller="Drink" asp-action="Index">Напитки</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" asp-controller="Delivery" asp-action="Index">Доставка</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="modal" data-target="#kontakti">Контакты</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" asp-controller="Home" asp-action="Cart"><i class="fa badge fa-lg" value=@count>&#xf07a;</i></a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="container">
        @RenderBody()
    </main>

    <div class="container">
      <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3" style="font-size: large;">
          <li class="nav-item"><a asp-controller="Pie" asp-action="Index" class="nav-link px-2 text-muted">Пироги</a></li>
          <li class="nav-item"><a asp-controller="Khinkali" asp-action="Index" class="nav-link px-2 text-muted">Хинкали</a></li>
          <li class="nav-item"><a asp-controller="Drink" asp-action="Index" class="nav-link px-2 text-muted">Напитки</a></li>
          <li class="nav-item"><a asp-controller="Delivery" asp-action="Index" class="nav-link px-2 text-muted">Доставка</a></li>
          <li class="nav-item"><a href="#" data-toggle="modal" data-target="#kontakti" class="nav-link px-2 text-muted">Контакты</a></li>
        </ul>
        <p class="text-center text-muted">© 2022 Wi-Pie</p>
      </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
