@{
    ViewData["Title"] = "Доставка";
}

<div class="jumbotron">
    <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4 img-fluid" src="~/images/deli2.png" alt="">
        <h1 class="display-5 fw-bold head1">Доставка и оплата</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4 parg">На данный момент доставка происходит только по Москве.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <div class="my-4">
                    <ul class="text-left" style="font-size: 20px;">
                        <li>наличные курьеру</li>
                        <li>переводом на карту</li>
                        <li>бесплатно (в пределах МКАД)</li>
                        <li>300₽ (за МКАД)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

