@{
    ViewData["Title"] = "Доставка";
}

<div class="jumbotron">
    <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4 img-fluid" src="~/images/deli2.png" alt="">
        <h1 class="display-5 fw-bold head1">Доставка и оплата</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4 parg">На данный момент доставка происходит только по Москве.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <div class="my-4">
                    <ul class="text-left" style="font-size: 18px;">
                        <li><b>300₽</b> - шаговая доступность к метро</li>
                        <li><b>500₽</b> - за МКАД</li>
                        <li><b>бесплатно</b>, при заказе от 2 пирогов</li>
                        <li><b>напиток в подарок</b>, при заказе от 3 пирогов</li>
                        <li><b>пирог в подарок</b>, при заказе от 5 пирогов</li>
                        <li><b>15% скидка</b>, если у вас день рождения</li>
                        <li><b>оплата по факту</b></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

